html {
  font-size: 62.5%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFDDD2;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Navbar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 4em 0;
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 5.1em;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #714949;
  font-size: 3rem;
  font-weight: 600;
}

li.active a {
  color: #FA8C01;
}

ul.login-nav-items li.register a {
  background-color: #F2968F;
  color: white;
  border-radius: 10em;
  padding: 0.2em 0.6em;
  font-weight: 400;
}

/* Footer */
footer {
  position: fixed;
  color: #714949;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF1EE;
  padding: 20px;
  text-align: center;
  font-size: 1.6rem;
}

footer span {
  font-weight: 600;
  font-size: 5.5rem;
}

footer strong {
  color: #FF7578;
}

footer a, .right a {
  font-size: 2.8rem;
  text-decoration: none;
  color: white;
  background-color: #F2968F;
  border-radius: 10em;
  padding: 0.6em 1em;
}

/*Hero section*/
.wrapper {
  margin-top: 3em;
  display: flex;
  gap: 7.5em;
}
.left {
  width: 361px;
  height: 411px;
  
  background: url('../public/owners.png');
  background-size: cover;
  mix-blend-mode: normal;
  border-radius: 0px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
   ;
}

.right h1 {
  margin-top: 1.3em;
  color: #3a3a3a;
  font-size: 8rem;
  font-weight: 600;
}

.right h1 strong {
  color: #F2968F;
}

/*Advert*/
.advert {
  position: relative;
}

.advert-image {
  width: 236px;
  height: 333px;
  background: url('../public/Paw_Print\ 2.png');
  background-size: cover;
  margin: auto;
}

.advert span {
  margin: 1.7em 0;
  position: absolute;
  font-size: 3.5rem;
  font-weight: 600;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: #714949;
  text-align: center;
}

/*Action Buttons*/
.action-wrapper {
  margin-top: 2.5em;
  margin-bottom: 24.5em;
  display: flex;
  gap: 10em;
  justify-content: center;
  text-align: center;
}

.action-btn-card {
  background-color: #FFF1EE;
  width:255px;
  height: 293px;
  border-radius: 3.5em;
  justify-content: center;
}

.action-btn-card span {
  padding: 0 2em;
  line-height:1em;
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #714949;
}





