html {
  font-size: 42.5%;
  background-color: #FFDDD2;
  min-height: 100vh;
}

body, header {
  margin: auto;
  max-width: 1200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Footer */
footer {
  width: 100vw; /* Make sure the footer spans the full viewport width */
  background-color: #FFF1EE;
  padding: 1em 0; /* Add some padding to the footer */
  position: relative; /* Ensure proper positioning */
  left: 50%; /* Move the footer to the middle */
  right: 50%; /* Move the footer to the middle */
  margin-left: -50vw; /* Adjust the left margin to ensure full width */
  margin-right: -50vw; /* Adjust the right margin to ensure full width */
}

.footer-wrapper {
  color: #714949;
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 1em;
  margin: auto;
  width: 100%;
  display: block;
}

.footer-container, .footer-info {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Constrain the maximum width of the content */
  margin: auto; /* Center the content within the footer */
}

footer strong {
  color: #FF7578;
}

footer span {
  font-size: 4rem;
  font-weight: 600;
}

.email, .community-icons, .footer-info-right, .left-footer {
  display: flex;
  align-items: center;
  gap: 1em;
}

footer a {
  text-decoration: none;
  color: white;
  background-color: #F2968F;
  border-radius: 10em;
  padding: 0.6em 1em;
}

/*Navbar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 4em 0;
  display: flex;
}

nav ul,
.user-display {
  list-style-type: none;
  display: flex;
  gap: 5.1em;
  margin: 0;
}

nav a,
.user-display a {
  text-decoration: none;
  color: #714949;
  font-size: 3rem;
  font-weight: 600;
}


li.active a,
li.active.user-display a {
  color: #FA8C01;
}

ul.login-nav-items li.register a {
  background-color: #F2968F;
  color: white;
  border-radius: 10em;
  padding: 0.2em 0.6em;
  font-weight: 400;
}

/*Hero section*/
.wrapper {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 7.5em;
}

.wrapper a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  background-color: #F2968F;
  border-radius: 10em;
  padding: 0.6em 1em;
}

.left {
  width: 261px;
  height: 311px;
  background: url('../public/owners.png');
  background-size: contain;
  mix-blend-mode: normal;
  border-radius: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.right h1 {
  margin-top: 1.3em;
  color: #3a3a3a;
  font-size: 6.5rem;
  font-weight: 600;
}

.right h1 strong {
  color: #F2968F;
}

/*Advert*/
.advert {
  position: relative;
}

.advert-image {
  width: 136px;
  height: 233px;
  background: url('../public/Paw_Print\ 2.png');
  background-size:contain;
  margin: auto;
}

.advert span {
  margin: 1.7em 0;
  position: absolute;
  font-size: 3.5rem;
  font-weight: 600;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #714949;
  text-align: center;
}

/*Action Buttons*/
.action-wrapper {
  margin-top: 2.5em;
  margin-bottom: 10em;
  display: flex;
  gap: 10em;
  justify-content: center;
  text-align: center;
}

.action-btn-card {
  background-color: #FFF1EE;
  width: 200px;
  height: 200px;
  border-radius: 3.5em;
  align-items: center;
  display: block; 
  padding-top: 2em;
}

.action-btn-card span {
  padding: 0 3em;
  line-height: 1em;
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #714949;
}

.action-btn-card img{
  height: 80px;
  width: auto;
}

/*Login*/
.login-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  min-height: 100vh;
  /* If using flex-grow on children */
  min-height: 100vh;
}

.login-left {
  flex: 1;
  position: relative;
  height: auto;
  width: 575px;
}

.login-image {
  flex: 1;
  position: relative;
  width: 575px;
  height: 514px;
  z-index: 1;
  background: url('../public/juicy-ai-person-detection-slash-face-id.png');
}

.login-left h1 {
  line-height: 0.2em;
  margin-top: 1.3em;
  color: #3a3a3a;
  font-size: 8rem;
  font-weight: 600;
}

.login-left h1 p {
  color: #FF7578;
}

.login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 15em;
  min-width: fit-content;
  min-height: fit-content;
  background-color: #FFF1EE;
  border-radius: 3.8em;
  z-index: -1;
  position: absolute;
  right: 0;
}

.login-logo {
  width: 150px;
  height: 150px;
  background: url('../public/paw2.png');
  background-size: cover;
  margin: auto;
}

.login-logo h3 {
  top:5em;
  text-align: center;
  font-size: 3rem;
  color: #714949;
  margin: 0;
  margin-bottom: 1em; /* Adjust margin to control spacing between h3 and logo */
}

form {
  width: fit-content;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sign-in {
  width: fit-content;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  background-color: #F2968F;
  border: none;
  border-radius: 10em;
  padding: 0.9em 2.2em;
}

.btn-container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  display: block;
  
  font-size: 2.6rem;
  color: rgba(0, 0, 0, 0.40);
}

form input {
  width: 20vw;
  margin: 0.3em 0;
  font-size: 3.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(48, 48, 48, 0.4);
}

.message {
  font-size: 2.5rem;
  margin-top: 1.8em;
}

.message a {
  color: #FF7578;
  text-decoration: none;
}

/*Browse*/
.filterBtns {
  display: flex;
  gap: 2em;
  margin: 5em 0;
  justify-content: flex-end;
  list-style-type: none;
}

.active-filter-btn button {
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: #F2968F;
  border-radius: 10em;
  padding: 0.5em 1em 0.5em 0.5em;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.filter-btn button {
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  color: #2B2B2E;
  background-color: transparent;
  border: 2px solid #2B2B2E;
  border-radius: 10em;
  padding: 0.5em 1em 0.5em 0.5em;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.all-avatar {
  width: 40px;
  height: 40px;
  background: url('../public/cat-and-dog.jpg');
  background-size: cover;
  mix-blend-mode: normal;
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cat-avatar {
  width: 40px;
  height: 40px;
  background: url('../public/cat2.jpg');
  background-size: cover;
  mix-blend-mode: normal;
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dog-avatar {
  width: 40px;
  height: 40px;
  background: url('../public/dog2.jpg');
  background-size: cover;
  mix-blend-mode: normal;
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/*Error message*/
.error {
  color: red;
  font-size: 2rem;
}

/*Google Button*/
.login-with-google-btn {
  padding: 12px 36px 12px 62px;
  border: 1px solid #757575;
  border-radius: 8px;
  color: #757575;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 12px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
}

.googleSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or {
  color: #3a3a3abc;
  font-size: 2rem;
}

.user-display {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-display button {
  border: none;
  background-color: #FFDDD2;

  &:hover {
    cursor: pointer;
  }
}

.user-image {
  height: 100px;
  width: auto;
  border: 5px solid #F2968F;
  border-radius: 3.5em;
}

.profile,
.profile-left {
  margin-top: 2em;
  gap: 2em;
  font-size: 2rem;
  color: #714949;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.profile h3 {
  color: #FF7578;
  font-weight: 100;
}

.logout-button button {
  font-size: 2rem;
  background-color: #F2968F;
  color: white;
  border: none;
  border-radius: 10em;
  padding: 0.5em 1em;

  &:hover {
    cursor: pointer;
  }
}


/* Media query for smaller screens */
@media only screen and (max-width: 1200px) {

  header {
    justify-content: space-around;
  }

  nav ul {
    flex-direction: column;
    gap: 2em;
  }

  nav a {
    font-size: 2.5rem;
  }

  .login-left {
    display: none;
  }

  .login-right {
    position: relative;
    margin: auto;
    display: block;
    background-color: #FFF1EE;
    border-radius: 3.8em;
  }

  .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    width: max-content;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Medium-Sized Google Button */
  .login-with-google-btn {
    padding: 10px 30px 10px 50px;
    /* Adjusted padding */
    border: 1px solid #757575;
    border-radius: 8px;
    color: #757575;
    font-size: 2rem;
    /* Adjusted font size */
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-size: 9%;
    /* Adjusted background size */
    background-repeat: no-repeat;
    background-position: 12px center;
    /* Adjusted background position */
  }

  .wrapper,
  .action-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .action-wrapper {
    gap: 1em;
  }

  .action-wrapper a {
    display: inline-block;
    margin: 2em;
  }

  form input {
    width: 50vw;
  }

  .footer-container, .footer-info{
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 630px) {
  header svg {
    display: none;
  }

  header {
    justify-content: center;
  }

  h1 {
    width: min-content;
  }

  .left-footer span {
    display: none;
  }

}